version: "3.9"

services:
  users:
    build:
      context: .                # <--- antes era ./users
      dockerfile: users/Dockerfile
    container_name: users-service
    ports:
      - "50051:50051"

  posts:
    build:
      context: .
      dockerfile: posts/Dockerfile
    container_name: posts-service
    ports:
      - "50052:50052"

  comments:
    build:
      context: .
      dockerfile: comments/Dockerfile
    container_name: comments-service
    ports:
      - "50053:50053"

  gateway:
    build:
      context: .
      dockerfile: gateway/Dockerfile
    container_name: gateway-service
    depends_on:
      - users
      - posts
      - comments
    ports:
      - "8080:8080"
