apiVersion: v1
kind: Service
metadata:
  name: users-service
spec:
  type: LoadBalancer
  selector:
    app: users-service
  ports:
    - name: grpc
      protocol: TCP
      port: 50053
      targetPort: 50053
  type: ClusterIP
