apiVersion: v1
kind: Service
metadata:
  name: comments-service
spec:
  type: LoadBalancer
  selector:
    app: comments-service
  ports:
    - name: grpc
      protocol: TCP
      port: 50051
      targetPort: 50051
  type: ClusterIP
